* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 0 auto 20px;
    line-height: 60px;
    font-style: oblique;
}
body{
    padding-top:0px;
}

.small-container {
   
    padding-left: 25px;
    padding-right: 25px;
}
.products {
    flex-basis: calc(25%) ;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    position:relative;
}

.products img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 3/3;
    object-fit:cover;
    box-shadow: 10px 7px 20px orange;
}

.rating .fas {
    color: #ff523b;
}

.header {
    background: linear-gradient(#c21616, #347fc1);
}
.header1 {
    background: linear-gradient(#347fc1, #c21616);
}
.header2 {
    background: linear-gradient(#c21616, #347fc1);
}
.products:hover{
    transform: translateY(-5px);
}
.row {
    display: flex;
    margin-top: 20px;
}