<html>
<head>
<title>2-handshop</title>
<link rel="stylesheet" href="{{ url_for('static', filename='2-handshop.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{ url_for('mmustudent',name='your name here') }}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('secondhandshop')}}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ='#'>Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ='#'>Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ='#'>Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ='#'>MMU Stuff</a></li>
            </ul>

    </nav>
<h1 style="position: absolute; top: 180px; left: 270px;font-size: 325%;">2-handshop</h1>
<form>
    <div class="search" style="position: absolute; top: 220px; right: 100px;">
        <span class="search-icon material-symbols-outlined">search</span>
        <input class="search-input" type="search" placeholder="Search.." >
    </div>

    <div class="types_container">
        <div class="type">
            <h2>testing</h2>
        </div>
        <div class="type">
            <h2>testing1</h2>
        </div>
    </div>
</form>
</body>
</html>