<html>
<head>
<title>2-handshop</title>
<link rel="stylesheet" href="{{ url_for('static', filename='2-handshop.css') }}">
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{ url_for('mmustudent',name='your name here') }}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('secondhandshop')}}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ='#'>Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ='#'>Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ='#'>Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ='#'>MMU Stuff</a></li>
            </ul>
    </nav>

</body>
</html>