<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
<title>MMU Shop</title>
</head>
<body>
    <nav class="nav_one">
        <ul>
            <ul>
                <li style="position: fixed;top:opx;left: 1400px;"><a href="#">Users</a></li>
                <li style="position: fixed;top:opx; left: 1300px;"><a>Bag</a></li>
                <li style="position: fixed;top:opx;left: 1200px;"><a>Help</a></li>
            </ul>
        </ul>


    </nav>

    {% if mmustudent %}
    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{url_for('mmustudent' ,name=name,mmustudent=mmustudent)}}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('secondhandshop',name=name,mmustudent=mmustudent) }}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ='#'>Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ='#'>Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ='#'>Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ='#'>MMU Stuff</a></li>
            </ul>
    </nav>
    {% else %}
    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{url_for('notmmustudent', name=name)}}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('notsecondhandshop',name=name) }}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ='#'>Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ='#'>Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ='#'>Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ='#'>MMU Stuff</a></li>
            </ul>
    </nav>
    {% endif %}


    <h1 style="position :absolute; top: 200px; left: 120px;color: rgb(4, 127, 175); font-size: 325%;">MMU   SHOP</h1><h2 style="position: absolute; top: 260px;left: 50px; font-size: 250%;color: rgba(13, 13, 13, 0.223);">
        The best way to buy the products you love.
    </h2>

    <video autoplay loop muted plays-inline class="back-video">
        <source src="{{ url_for('static',filename='Aerial and on the ground view of Multimedia University (MMU) Cyberjaya Campus (1).mp4')}}">
    </video>

    <p></p>

    {% if mmustudent %}
      <p style="position: absolute; top: 270px; left: 1200px;z-index:-1;">MMU Student!!</p>
      <p style="position: absolute; top: 290px; left: 1180px;">You will get discount!!</p>
    {% endif %}

<h3 style="position: absolute; top: 1320px; left: 50%; transform: translateX(-50%); font-size: 150%; color: rgba(49, 49, 49, 0.555);">Take a look at what's new right now</h3>
<h2 style= "position: absolute; top:1350;left: 50%; transform: translateX(-50%);font-size: 230%;">Shop the latest trends in fashion and accessories</h2>
<h3 style="position: absolute; top: 1420px; left: 50%; transform: translate(-50%);font-size: 150%; color: grey">Shop now and make a fashion statement</h3>
<h1 style="position: absolute; top: 1530px; left: 100px; font-size: 325%;">The latest</h3>

    <div class="product-container1">
        {% if mmustudent%}
    
        <div class="product">
            <img src="{{url_for('static',filename='2-hand1.png')}}">
            <h2 class="product-title">Fashion clothes</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">2-handshop</p>
        </div>
    
        <div class="product">
            <img src="{{url_for('static',filename='hat1.png')}}" alt="product-image">
            <h2 class="product-title">Hat</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>
    
        <div class="product">
            <img src="{{url_for('static',filename='hat2.png')}}" alt="Product Image" class="product-image">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>
    
        <div class="product">
            <img src="{{url_for('static',filename='blackhoodie.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>
    
        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">
                <span class="original-price">$129.99</span>
                <span class="discounted-price">$99.99</span>
                <span class="discount">10% off</span>
            </p>
            <p class="product-description">MMU STUFF</p>
        </div>
    
    
        {% else %}
        
        <div class="product">
            <img src="{{url_for('static',filename='2-hand1.png')}}">
            <h2 class="product-title">Fashion clothes</h2>
            <p class="product-price">??</p>
            <p class="product-description">2-handshop</p>
        </div>
    
    
        <div class="product">
            <img src="{{url_for('static',filename='hat1.png')}}" alt="product-image">
            <h2 class="product-title">Hat</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='hat2.png')}}" alt="Product Image" class="product-image">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='blackhoodie.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>

        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
        <div class="product">
            <img src="{{url_for('static',filename='ring.png')}}">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">??</p>
            <p class="product-description">MMU STUFF</p>
        </div>
    
        {% endif %}
    </div>


<h1 style="position: absolute; top: 2100px; left: 50%; transform: translateX(-50%); font-size: 150%;">Too expensive?</h1>
<h3 style="position: absolute; top: 2120px; left: 50%; transform: translateX(-50%); font-size: 230%;" >Checkout our 2-handshop</h3>
<h3 style="position: absolute; top: 2180px; left: 50%; transform: translateX(-50%); font-size: 150%;">Save your money </h3>
<h3 style="position: absolute; top: 2300px; left: 100px; font-size: 325%;">2-handshop</h3>

<div class="product-container2">
    {% if mmustudent%}
    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    {% else%}

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    {% endif %}

</div>

<h1 style="position: absolute; top: 3000px; left: 100px; font-size: 325%;">Electronic devices</h1>
<div class="product-container3">
    {% if mmustudent%}
    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>
    
    {% else%}

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    {% endif %}
       
</div>

<h1 style="position: absolute; top: 3700px; left: 100px; font-size: 325%;">Men</h1>
<div class="product-container4">
    {% if mmustudent%}
    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>
    
    {% else%}

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    {% endif %}
       
</div>
<h1 style="position: absolute; top: 4400px; left: 100px; font-size: 325%;">Women</h1>
<div class="product-container5">
    {% if mmustudent%}
    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>
    
    {% else%}

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    {% endif %}
       
</div>

<h1 style="position: absolute; top: 5100px; left: 100px; font-size: 325%">MMU SHOP</h1>
<div class="product-container6">
    {% if mmustudent%}
    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">
            <span class="original-price">$129.99</span>
            <span class="discounted-price">$99.99</span>
            <span class="discount">10% off</span>
        </p>
        <p class="product-description">2-handshop</p>
    </div>
    
    {% else%}

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    <div class="product">
        <img src="{{url_for('static',filename='2-hand1.png')}}">
        <h2 class="product-title">Fashion clothes</h2>
        <p class="product-price">??</p>
        <p class="product-description">2-handshop</p>
    </div>

    {% endif %}
    </div>

<div class="conclusion">
    <div class="conimg">
        <img src="{{url_for('static',filename='2-handimg.png')}}">
        <div class="text-over-image">2-handshop</div>
    </div>

    <div class="conimg">
        <img src="{{url_for('static',filename='electronicdevice.png')}}">
        <div class="text-over-image">Electonic device</div>
    </div>

    <div class="conimg1">
        <img src="{{url_for('static',filename='menimg.png')}}">
        <div class="text-over-image">Men</div>
    </div>

    <div class="conimg2">
        <img src="{{url_for('static',filename='womenimg.png ')}}">
        <div class="text-over-image">Women</div>
    </div>

    <div class="conimg3">
        <img src="{{url_for('static',filename='mmuimg.png ')}}">
        <div class="text-over-image">MMU SHOP</div>
    </div>

</div>


</body>
</html>