<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
<title>MMU Shop</title>
</head>
<body>
    <nav class="nav_one">
        <ul>
            <ul>
                <li style="position: fixed;top:opx;left: 1400px;"><a href="#">Users</a></li>
                <li style="position: fixed;top:opx; left: 1300px;"><a>Bag</a></li>
                <li style="position: fixed;top:opx;left: 1200px;"><a>Help</a></li>
            </ul>
        </ul>


    </nav>

    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="#">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('secondhandshop') }}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ='#'>Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ='#'>Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ='#'>Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ='#'>MMU Stuff</a></li>
            </ul>
    </nav>
    <h1 style="position :absolute; top: 200px; left: 120px;color: rgb(4, 127, 175); font-size: 325%;">MMU   SHOP</h1><h2 style="position: absolute; top: 260px;left: 50px; font-size: 250%;color: rgba(13, 13, 13, 0.223);">
        The best way to buy the products you love.
    </h2>

    <video autoplay loop muted plays-inline class="back-video">
        <source src="{{ url_for('static',filename='Aerial and on the ground view of Multimedia University (MMU) Cyberjaya Campus (1).mp4')}}">
    </video>

    <p></p>

    {% if mmustudent %}
      <p style="position: absolute; top: 270px; left: 1200px;z-index:-1;">MMU Student!!</p>
      <p style="position: absolute; top: 290px; left: 1180px;">You will get discount!!</p>
    {% endif %}

<h3 style="position: absolute; top: 1320px; left: 50%; transform: translateX(-50%); font-size: 150%; color: rgba(49, 49, 49, 0.555);">Take a look at what's new right now</h3>
<h2 style= "position: absolute; top:1350;left: 50%; transform: translateX(-50%);font-size: 230%;">Shop the latest trends in fashion and accessories</h2>
<h3 style="position: absolute; top: 1420px; left: 50%; transform: translate(-50%);font-size: 150%; color: grey">Shop now and make a fashion statement</h3>
<h1 style="position: absolute; top: 1530px; left: 10px; font-size: 325%;">The latest</h3>

<div class="categories">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static',filename='shoes1.jpg')}}">
        </div>
        <div class="col-3">
            <img>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<h1 style="position: absolute; top: 2080px; left: 50%; transform: translateX(-50%); font-size: 150%;">Too expensive?</h1>
<h3 style="position: absolute; top: 2100px; left: 50%; transform: translateX(-50%); font-size: 230%;" >Checkout our 2-handshop</h3>
<h3 style="position: absolute; top: 2180px; left: 50%; transform: translateX(-50%); font-size: 150%;">Save your money </h3>
<h3 style="position: absolute; top: 2300px; left: 10px; font-size: 325%;">2-handshop</h3>

</body>
</html>