<html>
<head>
<title>MMU stuff</title>
<link rel="stylesheet" href="{{url_for('static',filename='2-handshop.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

    {% if mmustudent %}
    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{ url_for('mmustudent',name=name) }}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('secondhandshop',name=name)}}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ="{{url_for('electronicdevice',name=name)}}">Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ="{{url_for('menspage',name=name)}}">Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ="{{url_for('womenpage',name=name)}}">Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ="{{url_for('mmustuff',name=name)}}">MMU Stuff</a></li>
            </ul>

    </nav>
    {% else %}

    <nav>
        <img src="{{ url_for('static', filename='mmu_image.jpg') }}" alt="MMU Logo" style="width: 100px; height: auto;">
            <ul>
                <li style="position: fixed; top:10px; left: 350px;"><a href ="{{ url_for('notmmustudent',name=name) }}">Home</a></li>
                <li style="position: fixed; top: 10px; left: 450px;"><a href ="{{ url_for('notsecondhandshop',name=name)}}">2-hand shop</a></li>
                <li style="position: fixed; top: 10px; left: 620px;"><a href ="{{url_for('notelectronicdevice',name=name)}}">Electronic devices</a></li>
                <li style="position: fixed; top: 10px; left: 900px;"><a href ="{{url_for('notmenspage',name=name)}}">Men</a></li>
                <li style="position: fixed; top: 10px; left: 1100px;"><a href ="{{url_for('notwomenpage',name=name)}}">Women</a></li>
                <li style="position: fixed; top: 10px; left: 1250px;"><a href ="{{url_for('notmmustuff',name=name)}}">MMU Stuff</a></li>
            </ul>

    </nav>

    {% endif %}



<h1 style="position: absolute; top: 180px; left: 10px;font-size: 325%;">MMU Stuff</h1>
<form>
    <div class="search" style="position: absolute; top: 220px; right: 100px;">
        <span class="search-icon material-symbols-outlined">search</span>
        <input class="search-input" type="search" placeholder="Search.." >
    </div>

    <div class="types_container">
        <div class="type">
            <h2>shoes</h2>
        </div>
        <div class="type">
            <h2>sports</h2>
        </div>
        <div class="type">
            <h2>shirt</h2>
        </div>
        <div class="type">
            <h2>cap</h2>
        </div>
        <div class="type">
            <h2>keychain</h2>
        </div>
        <div class="type">
            <h2>car sticker</h2>
        </div>
    </div>


    <div class="product-container1">
        {% if mmustudent %}
            {% for item in products %}
            <div class="product" data-name="{{ item.product_name }}">
                <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" alt="{{ item.product_name }}">
                <h2 class="product-title">{{ item.product_name }}</h2>
                <p class="product-price">
                    <span class="original-price">{{ item.price }}</span>
                    {% set original_price_float = item.price | float %}
                    {% if original_price_float %}
                        <span class="discounted-price">RM {{ '%.2f' % (original_price_float * 0.9) }}</span>
                    {% else %}
                        <span class="discounted-price">Price not available</span>
                    {% endif %}
                    <span class="discount">10% off</span>
                </p>
                <p class="product-description">{{ item.type }}</p>
                {% if name == item.username %}
                <form action="{{ url_for('product', name=name) }}" method="post">
                    <input type="text" name="username" placeholder="Username.." value="{{ name }}" required>
                    <input type="hidden" name="delete" value="{{ item.product_name }}">
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            {% for item in products %}
            <div class="product" data-name="{{ item.product_name }}">
                <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" alt="{{ item.product_name }}">
                <h2 class="product-title">{{ item.product_name }}</h2>
                <p class="original-price">{{ item.price }}</p>
                <p class="product-description">{{ item.type }}</p>
                {% if name == item.username %}
                <form action="{{ url_for('product', name=name) }}" method="post">
                    <input type="text" name="username" placeholder="Username.." value="{{ name }}" required>
                    <input type="hidden" name="delete" value="{{ item.product_name }}">
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="modal" id="product-modal">
        {% if mmustudent %}
            {% for item in products %}
            <div class="modal-content" >
                <span class="close-button">&times;</span>
                <div class="modal-body">
                    <div class="col-2">
                        <img id="modal-image" src="" alt="">
                    </div>
                    <div class="col-2">
                        <h6 id="modal-type"></h6>
                        <h4 id="modal-title" class="product-title"></h4>
                        <p id="modal-price" class="product-price">
                            <span class="original-price"></span>
                            <span class="discounted-price"></span>
                            <span class="discount">10% off</span>
                        </p>
                        <input class="input" type="number" value="1">
                        <button class="normal">Add To Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% for item in products %}
                <div class="modal-content" >
                    <span class="close-button">&times;</span>
                    <div class="modal-body">
                        <div class="col-2">
                            <img id="modal-image" src="" alt="">
                        </div>
                        <div class="col-2">
                            <h6 id="modal-type"></h6>
                            <h4 id="modal-title" class="product-title"></h4>
                            <p id="modal-price" class="product-price">
                                <span class="original-price"></span>
                                <span class="discounted-price"></span>
                            </p>
                            <input class="input" type="number" value="1">
                            <button class="normal">Add To Cart</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("product-modal");
            var modalImage = document.getElementById("modal-image");
            var modalTitle = document.getElementById("modal-title");
            var modalPrice = document.getElementById("modal-price");
            var modalType = document.getElementById("modal-type");
            var closeButton = document.querySelector(".close-button");
    
            function openModal(productId) {
                var product = document.querySelector(`.product[data-name="${productId}"]`);
    
                var image = product.querySelector("img").src;
                var title = product.querySelector(".product-title").textContent;
                var price = product.querySelector(".original-price").textContent;
                var discountedPriceElement = product.querySelector(".discounted-price");
                var discountedPrice = discountedPriceElement ? discountedPriceElement.textContent : ' ';
                var type = product.querySelector(".product-description").textContent;
    
                modalImage.src = image;
                modalTitle.textContent = title;
                modalPrice.querySelector('.original-price').textContent = price;
                modalPrice.querySelector('.discounted-price').textContent = discountedPrice;
                modalType.textContent = type;
    
                modal.style.display = "block";
            }
    
            document.querySelectorAll(".product img, .product").forEach(function(element) {
                element.addEventListener("click", function() {
                    var productId = this.closest(".product").dataset.name;
                    openModal(productId);
                });
            });
    
            closeButton.addEventListener("click", function() {
                modal.style.display = "none";
            });
    
            window.addEventListener("click", function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });
    </script>


    <div class="conclusion">
        <h1>MMU STUFF</h1>
        <h3>Checkout our other products</h3>
        
        <div class="navimg">
            <div class="textimg">
                <img src="{{url_for('static',filename='mmuimg.png')}}">
                <div class="text-over-image">MMU STUFF</div>
            </div>
            
        </div>
        
    </div>
</form>
</body>
</html>